
<div>
    <h2>Add a new order</h2>
<form>
  <label for="customer-name">Customer Name:</label>
  <input type="text" id="customer-name" name="customer-name" />

  <label for="order-details">Order Details:</label>
  <textarea id="order-details" name="order-details"></textarea>

  <button type="submit">Order</button>
</form>


<h2>Actual Order</h2>
<ul>
  <li *ngFor="let order of orders">
    <h3>{{ order.title }}</h3>
   <!-- <img [src]="order.image" [alt]="order.title" /> -->
  </li>
</ul>

</div>